.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/login_wp.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Arial', sans-serif;
  width: 300px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #ca5440;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #660808;
}

.toggle-button {
  background: none;
  border: none;
  color: #4a90e2;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  padding: 0;
}
.toggle-button:hover {
  color: #357ab7;
}

